// Framework

html,
body {
	font-family: "Open Sans", sans-serif;
	height: 100%;
}
.page {
    height: auto;
    margin: 0 auto -290px;
    min-height: 100%;
    padding-bottom: 270px;
    background-color: #c1d0c0;
    border: 20px solid #222222;
    overflow: hidden;
}
.full-width {
  &.dark {
    background-color: #222;
    color: #abc3ab;
  }
}

// Sections

#intro {
  padding: 10px;

  .text-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;


    h1 {
      font-size: 24px;
    }
    .lead {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  #intro {

    .text-wrapper {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

#companies {
  padding: 60px 0 20px;
  background: url("../img/bg-ellipse.png") no-repeat transparent top center fixed;
}
#info {
  margin-bottom: 0;

  .text-wrapper {
    padding: 20px;
    margin: 0 auto;
  }
  h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #info {
    .text-wrapper {
      padding: 50px;
    }
  }
}

// Reset Bootstrap
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          box-shadow: none !important;
     -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
a {
  outline: none !important;
}