// Panels
.panel {
	border: 0;
	position: relative;
	background-color: transparent;

	span.company-logo {
		height: 70px;
		width: 70px;
		background-color: #222222;
		display: block;
		position: absolute;
		left: -10px;
	}
	.panel-body {
		padding: 0;
	}
	.panel-foldout-up {
		margin-left: 61px;
		background-color: #222222;
		height: 70px;
		padding: 20px;

		p {
			color: #fff;
			font-size: 12px;
			margin-bottom: 0;
		}
	}
}
.img-responsive {
	min-height: 270px;
}